* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
}
/* Header Section */

header {
    display: flex;
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: black;
    border: 1px solid seashell;
    align-items: center;
}

.logo {
    height: 50px;
    padding-left: 10px;
}

header div {
    flex-grow: 1;
}

header span a {
    color: seashell;
}

header nav {
    display: flex;
    width: 350px;
    justify-content: space-between;
    padding-right: 5px;
}

                        /* Main Content */


.main-content {
    padding-top: 70px;
    margin-top: 0px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
}

/* Hero Image Section */

.hero-section {
    background-image: url(../images/img-mission-background.jpg)
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
}

.mission {
    width: 1200px;
    background-color: black;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}