* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Helvetic, sans-serif;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
}
/* Header Section */

header {
    display: flex;
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: black;
    border: 1px solid seashell;
    align-items: center;
}

.logo {
    height: 50px;
    padding-left: 10px;
}

header div {
    flex-grow: 1;
}

header span a {
    color: seashell;
}

header nav {
    display: flex;
    width: 350px;
    justify-content: space-between;
    padding-right: 5px;
}

                        /* Main Content */


.main-content {
    padding-top: 70px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

/* Hero Image Section */

.hero-section {
    background-image: url(../images/img-mission-background.jpg)
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.mission {
    width: 1200px;
    background-color: black;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Tea of the Month Section */

.tea-month {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.tea {
    text-align: center;
    padding-bottom: 20px;
}

.tea h4 {
    padding-top: 20px;
}

.tea-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pad-m {
    padding-left: 175px;
    padding-top: 30px;
}

.pad-b {
    padding-right: 175px;
    padding-top: 30px;
}

.tea-type div h4 {
    padding-top: 10px;
    text-align: center;
}

.berry,
.rum,
.donut,
.myrtle,
.bedford {
    width: 300px;
    height: 200px;
}

/* Location Section */

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}

.location {
    background-image: url(../images/img-locations-background.jpg)
}

.column {
    display: flex;
    width: 1200px;
    justify-content: space-around;
}

.location .title {
    padding-bottom: 15px;
}

.column-1,
.column-2,
.column-3 {
    width: 300px;
    text-align: center;
    background-color: black;
}

.column-1 div,
.column-2 div,
.column-3 div {
    padding-top: 15px;
    padding-bottom: 15px;
}

.column-1 h4,
.column-2 h4,
.column-3 h4 {
    font-weight: normal;
}

.column-3 div h3,
.column-3 div h4 {
    opacity: 1;
}

/* Contact Section */

.contact-section {
    height: 200px;
    text-align: center;
    margin-top: 10px;
}

.contact-section div {
    padding-bottom: 40px;;
}

/* Copyright-line */

.copyright {
    padding-left: 20px;
}